<div>
  <h3>REGISTER PAGE</h3>
  <div>
    <label for="text">Patient Name</label> <br>
    <input type="text" placeholder="please enter patient name">
  </div>
  <div>
    <label for="text">Mobile Number</label> <br>
    <input type="text" placeholder="please enter patient name">
  </div>
  <div>
    <label for="text">Password</label><br>
    <input type="text" placeholder="please enter your password ">
  </div>
  <div>
    <label for="text">Place</label> <br>
    <input type="text" placeholder="please enter patient name">
  </div>
  <div>
    <label for="text">Age</label> <br>
    <input type="text" placeholder="please enter patient name">
  </div>
  <div>
    <label for="text">Genter</label> <br>
    <input type="text" placeholder="please enter patient name">
  </div>
  <div>
    <button routerLink="/login">login</button>
  </div>

 </div>
