<!-- navbar -->
<nav style="padding-bottom: 25px;" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!-- ?icon -->
    <div class="navbar bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img
            src="/docs/5.3/assets/brand/bootstrap-logo.svg"
            alt=""
            width="30"
            height="24"
          />
        </a>
      </div>
    </div>&nbsp;
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>&nbsp;
      <button class="btn btn-danger">APPOINTMENT</button>
    </div>
  </div>
</nav>
<!-- navbarend -->

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <!-- sidebar -->
      <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Siderbar 1</title>
            <link rel="stylesheet" >
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
        </head>
        <body>
            <div class="container">
                <div class="sidebar">
                    <h2><span>Side</span>Bar</h2>
                    <ul>
                        <li><a href="#"><i class="fas fa-home"></i>Button</a></li>
                        <li><a href="#"><i class="fas fa-user"></i>Button</a></li>
                        <li><a href="#"><i class="fas fa-address-card"></i>Button</a></li>
                        <li><a href="#"><i class="fas fa-project-diagram"></i>Button</a></li>
                        <li><a href="#"><i class="fas fa-blog"></i>Button</a></li>
                        <li><a href="#"><i class="fas fa-address-book"></i>Button</a></li>
                        <li><a href="#"><i class="fas fa-map-pin"></i>Button</a></li>
                    </ul>
                    <div class="social-media">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="nain-content">
                    <div class="header"></div>
                    <div class="info">
                    </div>
                </div>
            </div>

        </body>
        </html>

        <!-- sidebar end -->



  </mat-drawer>
  <mat-drawer-content style="margin-left: 190px;">
    <!-- past home -->
    <div >home works!</div>

  </mat-drawer-content>
</mat-drawer-container>












<!-- footer-->
  <footer style="margin-left: 100px;" >
    <div class="footer">
      <div class="contain">
      <div class="col">
        <h2>Company</h2>
        <ul>
          <li>About us</li>
          <li> Our Mission</li>
          <li>Services</li>
        </ul>
      </div>
      <div class="col">
        <h2>Products</h2>
        <ul>
          <li>SEO</li>
          <li>Content Development</li>
          <li>Digital Marketing</li>
        </ul>
      </div>
      <div class="col">
        <h2>Team</h2>
        <ul>
          <li>HR Team</li>
          <li>Finance Team</li>
          <li>Content Team</li>
        </ul>
      </div>
      <div class="col">
        <h2>Resources</h2>
        <ul>
          <li>Webmail</li>
          <li>Web templates</li>
          <li>Email templates</li>
        </ul>
      </div>
      <div class="col">
        <h2>Contact</h2>
        <ul>
          <li>+91 9051 XXXXXX</li>
          <li>033 2464 XXXX</li>
          <li>abc@gmail.com</li>
        </ul>
      </div>
      <div class="col address">
        <h2>Address </h2>
        <ul>
          <li>Sky Towers, Service Road, Kolkata</li>
      </ul>
      </div>
    <div class="clearfix"></div>
    </div>
    <div>
      <ul class="socialss">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-github"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
   </div>
   <div class="footer-copyright">
    <p>copyright &copy;2023 &reg;rashidkalodi </p>
</div>
  </div>

    </footer>




<!-- footer end -->
